body {
  margin: 0;
  padding: 0;
  font-family: 'Inter, sans-serif';
  font-size: 12px;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
}
.content {
  padding: 8px;
}

.flags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
}
.flag {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  background-clip: padding-box;
  height: 42px;
}
.flag:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.flag > img {
  width: 24px;
  margin: 8px;
  flex: 0 0 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.flag-name {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}
